
/*
 * =========================================================
 * DjangoProj mysite
 * /static/style/common.css
 * =========================================================
 */


/* === CLASSES  === */

.table {
	border-collapse : collapse;
	border-color : gray;
}

.pagetitle {
	color : blue;	
	font-size : 1.5em;
}

.container {
	align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
}

