{#  extends "./layout.html" #}
{% extends "base.html" %}

{% block content %}
	<div class='pagetitle' style='color:tomato;'>HELLO WORLD</div>
	<div> TIME: {{ time }}</div>
	<p>
		all work no play makes jack a dull boy<br>
		all work no play makes jack a dull boy<br>
		all work no play makes jack a dull boy<br>
		all work no play makes jack a dull boy<br>
		all work no play makes jack a dull boy<br>
		all work no play makes jack a dull boy<br>
		all work no play makes jack a dull boy<br>
	</p>
{% endblock %}
