# hopo/workspace

.DS_Store

*.swp
*.swo
*~

.gdb_history

# *** ccpp
cTest.out
cTest.outr

# *** js
node_modules/

# *** java
*.class
.metadata/
.recommenders/

# *** python
.idea/
venv/
*.pyc
__pycache__
#db.sqlite3


