{% extends "base.html" %}

{% block content %}

	<div class='container'>
		<div class='pagetitle'>hpblog board_list</div>
		<table border='1px' class='table'>
			<tr>
				<th>ID</th>
				<th>AUTHOR</th>
				<th width="50%">TITLE</th>
				<th>CREATE_DATE</th>
			</tr>
			{% for p in post %}
			<tr>
				<td>{{p.id}}</td>
				<td>{{p.author}}</td>
				<td>
					<a href="{% url 'board_item' %}{{p.id}}"> <!-- param!! -->
						{{p.title}}
					</a>
				</td>
				<td>{{p.create_date}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan="4">
					<a href="{% url 'board_insert' %}">InsertPost</a>
				</td>
			</tr>
	</table>
	</div>

{% endblock %}
