{% extends "base.html" %}

{% block content %}

	<div class='container'>
		<div class='pagetitle'>hpblog board_item</div>
		<table border='1px' class='table'>
			<tr>
				<th width="100px">TITLE</th>
				<td width="400px">{{item.title}}</td>
			</tr>
			<tr>
				<th>AUTHOR</th>
				<td>{{item.author}}</td>
			</tr>
			<tr>
				<th>CONTENT</th>
				<td>
					<pre>{{item.content}}</pre>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="{% url 'board_list' %}">List</a>
					<a href="{% url 'board_update' %}">Update</a>
					<a href="#Delete">Delete</a>
				</td>
			</tr>
		</table>
	</div>

{% endblock %}
