{% extends "base.html" %}

{% block content %}

	<div class='container'>
		<div class='pagetitle'>hpblog board_list</div>
		<table border='1px' class='table'>
			<tr>
				<th>ID</th>
				<th>AUTHOR</th>
				<th>TITLE</th>
				<th>TEXT</th>
				<th>CREATE_DATE</th>
			</tr>
			{% for p in post %}
			<tr>
				<td>{{p.id}}</td>
				<td>{{p.author}}</td>
				<td>{{p.title}}</td>
				<td>{{p.text}}</td>
				<td>{{p.create_date}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td collspac="3">
					<a href="board_insert">InsertPost</a>
				</td>
			</tr>
	</table>
	</div>

{% endblock %}
